<div class='nav-bar'>
    <div class='logo'>
      <h1 class="font-TitWeb">DAILY JOURNAL</h1>
    </div>
    <div class='nav-menu'>
      <ul>
        <li>
          <a href='/' >
           Home
           </a>
          </li>
          <!-- <li>
            <a href='contacts' target="_parent">
             Contact us
              </a>
            </li>  -->
         <li>
          <a href='about'>
            About
            </a>
          </li>
         
          <li>
            <a href='login'>
              login
              </a>
            </li>
      </ul>
    </div>
    
    
  </div>
